[Unit]
Description=Secure Patron storage

[Service]
Type=simple
User=hetula
ExecStart=/opt/Hetula/Hetula/script/hetula daemon -m development -l http://*:3000

RestartSec=5s
Restart=always

PrivateTmp=yes

[Install]
WantedBy=multi-user.target
