[Unit]
Description=Secure Patron storage
After=network.target

[Service]
Type=forking
User=hetula

Environment=HETULA_CONFIGS=/etc/hetula/
Environment=HETULA_HOME=/opt/Hetula/Hetula/

PIDFile=/var/run/hetula/hypnotoad.pid
ExecStart=/usr/local/bin/hypnotoad ${HETULA_HOME}/script/hetula
ExecReload=/usr/local/bin/hypnotoad ${HETULA_HOME}/script/hetula
KillMode=process

RestartSec=5s
Restart=always

PrivateTmp=yes

[Install]
WantedBy=multi-user.target
